@charset "utf-8";

body { position: relative; }

.table code { font-size: 13px; font-weight: 400; }

.btn-outline { color: rgb(86, 61, 124); background-color: transparent; border-color: rgb(86, 61, 124); }

.btn-outline:hover, .btn-outline:focus, .btn-outline:active { color: rgb(255, 255, 255); background-color: rgb(86, 61, 124); border-color: rgb(86, 61, 124); }

.btn-outline-inverse { color: rgb(255, 255, 255); background-color: transparent; border-color: rgb(205, 191, 227); }

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active { color: rgb(86, 61, 124); text-shadow: none; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); }

.bs-docs-booticon { display: block; font-weight: 500; color: rgb(255, 255, 255); background-color: rgb(86, 61, 124); border-radius: 15%; cursor: default; text-align: center; }

.bs-docs-booticon-sm { width: 30px; height: 30px; font-size: 20px; line-height: 28px; }

.bs-docs-booticon-lg { width: 144px; height: 144px; font-size: 108px; line-height: 140px; }

.bs-docs-booticon-inverse { color: rgb(86, 61, 124); background-color: rgb(255, 255, 255); }

.bs-docs-booticon-outline { background-color: transparent; border: 1px solid rgb(205, 191, 227); }

.bs-docs-nav { margin-bottom: 0px; background-color: rgb(255, 255, 255); border-bottom: 0px; }

.bs-home-nav .bs-nav-b { display: none; }

.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav > li > a { color: rgb(86, 61, 124); font-weight: 500; }

.bs-docs-nav .navbar-nav > li > a:hover, .bs-docs-nav .navbar-nav > .active > a, .bs-docs-nav .navbar-nav > .active > a:hover { color: rgb(70, 50, 101); background-color: rgb(249, 249, 249); }

.bs-docs-nav .navbar-toggle .icon-bar { background-color: rgb(86, 61, 124); }

.bs-docs-nav .navbar-header .navbar-toggle { border-color: rgb(255, 255, 255); }

.bs-docs-nav .navbar-header .navbar-toggle:hover, .bs-docs-nav .navbar-header .navbar-toggle:focus { background-color: rgb(249, 249, 249); border-color: rgb(249, 249, 249); }

.bs-docs-footer { padding-top: 40px; padding-bottom: 40px; margin-top: 100px; color: rgb(119, 119, 119); text-align: center; border-top: 1px solid rgb(229, 229, 229); }

.bs-docs-footer-links { margin-top: 20px; padding-left: 0px; color: rgb(153, 153, 153); }

.bs-docs-footer-links li { display: inline; padding: 0px 2px; }

.bs-docs-footer-links li:first-child { padding-left: 0px; }

@media (min-width: 768px) {
  .bs-docs-footer p { margin-bottom: 0px; }
}

.bs-docs-social { margin-bottom: 20px; text-align: center; }

.bs-docs-social-buttons { display: inline-block; margin-bottom: 0px; padding-left: 0px; list-style: none; }

.bs-docs-social-buttons li { display: inline-block; line-height: 1; padding: 5px 8px; }

.bs-docs-social-buttons .twitter-follow-button { width: 225px !important; }

.bs-docs-social-buttons .twitter-share-button { width: 98px !important; }

.github-btn { border: 0px; overflow: hidden; }

.bs-docs-masthead, .bs-docs-header { position: relative; padding: 30px 15px; color: rgb(205, 191, 227); text-align: center; text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px; background-color: rgb(111, 84, 153); background-image: linear-gradient(rgb(86, 61, 124) 0px, rgb(111, 84, 153) 100%); background-repeat: repeat-x; }

.bs-docs-masthead .bs-docs-booticon { margin: 0px auto 30px; }

.bs-docs-masthead h1 { font-weight: 300; line-height: 1; color: rgb(255, 255, 255); }

.bs-docs-masthead .lead { margin: 0px auto 30px; font-size: 20px; color: rgb(255, 255, 255); }

.bs-docs-masthead .version { margin-top: -15px; margin-bottom: 30px; color: rgb(151, 131, 185); }

.bs-docs-masthead .btn { width: 100%; padding: 15px 30px; font-size: 20px; }

@media (min-width: 480px) {
  .bs-docs-masthead .btn { width: auto; }
}

@media (min-width: 768px) {
  .bs-docs-masthead { padding-top: 80px; padding-bottom: 80px; }
  .bs-docs-masthead h1 { font-size: 60px; }
  .bs-docs-masthead .lead { font-size: 24px; }
}

@media (min-width: 992px) {
  .bs-docs-masthead .lead { width: 80%; font-size: 30px; }
}

.bs-docs-header { margin-bottom: 40px; font-size: 20px; }

.bs-docs-header h1 { margin-top: 0px; color: rgb(255, 255, 255); }

.bs-docs-header p { margin-bottom: 0px; font-weight: 300; line-height: 1.4; }

.bs-docs-header .container { position: relative; }

@media (min-width: 768px) {
  .bs-docs-header { padding-top: 60px; padding-bottom: 60px; font-size: 24px; text-align: left; }
  .bs-docs-header h1 { font-size: 60px; line-height: 1; }
}

@media (min-width: 992px) {
  .bs-docs-header h1, .bs-docs-header p { margin-right: 380px; }
}

.carbonad { overflow: hidden; text-align: left; width: auto !important; margin: 30px -30px -31px !important; padding: 20px !important; height: auto !important; font-size: 13px !important; line-height: 16px !important; background: transparent !important; border-style: solid !important; border-color: rgb(134, 106, 179) !important; border-image: initial !important; border-width: 1px 0px !important; }

.carbonad-img { margin: 0px !important; }

.carbonad-text, .carbonad-tag { float: none !important; display: block !important; width: auto !important; height: auto !important; margin-left: 145px !important; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

.carbonad-text { padding-top: 0px !important; }

.carbonad-tag { color: inherit !important; text-align: left !important; }

.carbonad-text a, .carbonad-tag a { color: rgb(255, 255, 255) !important; }

.carbonad #azcarbon > img { display: none; }

@media (min-width: 480px) {
  .carbonad { border-radius: 4px; width: 330px !important; margin: 20px auto !important; border-width: 1px !important; }
  .bs-docs-masthead .carbonad { margin: 50px auto 0px !important; }
}

@media (min-width: 768px) {
  .carbonad { margin-left: 0px !important; margin-right: 0px !important; }
}

@media (min-width: 992px) {
  .carbonad { position: absolute; top: 0px; right: 15px; margin: 0px !important; padding: 15px !important; width: 330px !important; }
  .bs-docs-masthead .carbonad { position: static; }
}

.bs-docs-featurette { padding-top: 40px; padding-bottom: 40px; font-size: 16px; line-height: 1.5; color: rgb(85, 85, 85); text-align: center; background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(229, 229, 229); }

.bs-docs-featurette + .bs-docs-footer { margin-top: 0px; border-top: 0px; }

.bs-docs-featurette-title { font-size: 30px; font-weight: 400; color: rgb(51, 51, 51); margin-bottom: 5px; }

.half-rule { width: 100px; margin: 40px auto; }

.bs-docs-featurette h3 { font-weight: 400; color: rgb(51, 51, 51); margin-bottom: 5px; }

.bs-docs-featurette-img { display: block; margin-bottom: 20px; color: rgb(51, 51, 51); }

.bs-docs-featurette-img:hover { text-decoration: none; color: rgb(66, 139, 202); }

.bs-docs-featurette-img img { display: block; margin-bottom: 15px; }

.bs-docs-featured-sites { margin-left: -1px; margin-right: -1px; }

.bs-docs-featured-sites .col-sm-3 { padding-left: 1px; padding-right: 1px; }

@media (min-width: 480px) {
  .bs-docs-featurette .img-responsive { margin-top: 30px; }
}

@media (min-width: 768px) {
  .bs-docs-featurette { padding-top: 100px; padding-bottom: 100px; }
  .bs-docs-featurette-title { font-size: 40px; }
  .bs-docs-featurette .lead { margin-left: auto; margin-right: auto; max-width: 80%; }
  .bs-docs-featured-sites .col-sm-3:first-child img { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
  .bs-docs-featured-sites .col-sm-3:last-child img { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
  .bs-docs-featurette .img-responsive { margin-top: 0px; }
}

.bs-docs-sidebar.affix { position: static; }

@media (min-width: 768px) {
  .bs-docs-sidebar { padding-left: 20px; }
}

.bs-docs-sidenav { margin-top: 20px; margin-bottom: 20px; }

.bs-docs-sidebar .nav > li > a { display: block; font-size: 13px; font-weight: 500; color: rgb(153, 153, 153); padding: 4px 20px; }

.bs-docs-sidebar .nav > li > a:hover, .bs-docs-sidebar .nav > li > a:focus { padding-left: 19px; color: rgb(86, 61, 124); text-decoration: none; background-color: transparent; border-left: 1px solid rgb(86, 61, 124); }

.bs-docs-sidebar .nav > .active > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active:focus > a { padding-left: 18px; font-weight: 700; color: rgb(86, 61, 124); background-color: transparent; border-left: 2px solid rgb(86, 61, 124); }

.bs-docs-sidebar .nav .nav { display: none; padding-bottom: 10px; }

.bs-docs-sidebar .nav .nav > li > a { padding-top: 1px; padding-bottom: 1px; padding-left: 30px; font-size: 12px; font-weight: 400; }

.bs-docs-sidebar .nav .nav > li > a:hover, .bs-docs-sidebar .nav .nav > li > a:focus { padding-left: 29px; }

.bs-docs-sidebar .nav .nav > .active > a, .bs-docs-sidebar .nav .nav > .active:hover > a, .bs-docs-sidebar .nav .nav > .active:focus > a { font-weight: 500; padding-left: 28px; }

.back-to-top { display: none; margin-top: 10px; margin-left: 10px; padding: 4px 10px; font-size: 12px; font-weight: 500; color: rgb(153, 153, 153); }

.back-to-top:hover { text-decoration: none; color: rgb(86, 61, 124); }

@media (min-width: 768px) {
  .back-to-top { display: block; }
}

@media (min-width: 992px) {
  .bs-docs-sidebar .nav > .active > ul { display: block; }
  .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom { width: 213px; }
  .bs-docs-sidebar.affix { position: fixed; top: 20px; }
  .bs-docs-sidebar.affix-bottom { position: absolute; }
  .bs-docs-sidebar.affix-bottom .bs-docs-sidenav, .bs-docs-sidebar.affix .bs-docs-sidenav { margin-top: 0px; margin-bottom: 0px; }
}

@media (min-width: 1200px) {
  .bs-docs-sidebar.affix-bottom, .bs-docs-sidebar.affix { width: 263px; }
}

.bs-docs-section { margin-bottom: 60px; }

.bs-docs-section:last-child { margin-bottom: 0px; }

h1[id] { margin-top: 0px; padding-top: 20px; }

.bs-callout { margin: 20px 0px; padding: 20px; border-left: 3px solid rgb(238, 238, 238); }

.bs-callout h4 { margin-top: 0px; margin-bottom: 5px; }

.bs-callout p:last-child { margin-bottom: 0px; }

.bs-callout code { background-color: rgb(255, 255, 255); border-radius: 3px; }

.bs-callout-danger { background-color: rgb(253, 247, 247); border-color: rgb(217, 83, 79); }

.bs-callout-danger h4 { color: rgb(217, 83, 79); }

.bs-callout-warning { background-color: rgb(252, 248, 242); border-color: rgb(240, 173, 78); }

.bs-callout-warning h4 { color: rgb(240, 173, 78); }

.bs-callout-info { background-color: rgb(244, 248, 250); border-color: rgb(91, 192, 222); }

.bs-callout-info h4 { color: rgb(91, 192, 222); }

.color-swatches { margin: 0px -5px; overflow: hidden; }

.color-swatch { float: left; width: 60px; height: 60px; margin: 0px 5px; border-radius: 3px; }

@media (min-width: 768px) {
  .color-swatch { width: 100px; height: 100px; }
}

.color-swatches .gray-darker { background-color: rgb(34, 34, 34); }

.color-swatches .gray-dark { background-color: rgb(51, 51, 51); }

.color-swatches .gray { background-color: rgb(85, 85, 85); }

.color-swatches .gray-light { background-color: rgb(153, 153, 153); }

.color-swatches .gray-lighter { background-color: rgb(238, 238, 238); }

.color-swatches .brand-primary { background-color: rgb(66, 139, 202); }

.color-swatches .brand-success { background-color: rgb(92, 184, 92); }

.color-swatches .brand-warning { background-color: rgb(240, 173, 78); }

.color-swatches .brand-danger { background-color: rgb(217, 83, 79); }

.color-swatches .brand-info { background-color: rgb(91, 192, 222); }

.color-swatches .bs-purple { background-color: rgb(86, 61, 124); }

.color-swatches .bs-purple-light { background-color: rgb(199, 191, 211); }

.color-swatches .bs-purple-lighter { background-color: rgb(229, 225, 234); }

.color-swatches .bs-gray { background-color: rgb(249, 249, 249); }

.bs-team .team-member { color: rgb(85, 85, 85); line-height: 32px; }

.bs-team .team-member:hover { color: rgb(51, 51, 51); text-decoration: none; }

.bs-team .github-btn { float: right; margin-top: 6px; width: 180px; height: 20px; }

.bs-team img { float: left; width: 32px; margin-right: 10px; border-radius: 4px; }

.show-grid { margin-bottom: 15px; }

.show-grid [class^="col-"] { padding-top: 10px; padding-bottom: 10px; background-color: rgba(86, 61, 124, 0.15); border: 1px solid rgba(86, 61, 124, 0.2); }

.bs-example { position: relative; padding: 45px 15px 15px; margin: 0px -15px 15px; background-color: rgb(250, 250, 250); box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 6px inset; border-color: rgb(229, 229, 229) rgb(238, 238, 238) rgb(238, 238, 238); border-style: solid; border-width: 1px 0px; }

.bs-example::after { content: "Example"; position: absolute; top: 15px; left: 15px; font-size: 12px; font-weight: 700; color: rgb(187, 187, 187); text-transform: uppercase; letter-spacing: 1px; }

.bs-example + .highlight { margin: -15px -15px 15px; border-radius: 0px; border-width: 0px 0px 1px; }

@media (min-width: 768px) {
  .bs-example { margin-left: 0px; margin-right: 0px; background-color: rgb(255, 255, 255); border-width: 1px; border-color: rgb(221, 221, 221); border-radius: 4px 4px 0px 0px; box-shadow: none; }
  .bs-example + .highlight { margin-top: -16px; margin-left: 0px; margin-right: 0px; border-width: 1px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
}

.bs-example .container { width: auto; }

.bs-example > p:last-child, .bs-example > ul:last-child, .bs-example > ol:last-child, .bs-example > blockquote:last-child, .bs-example > .form-control:last-child, .bs-example > .table:last-child, .bs-example > .navbar:last-child, .bs-example > .jumbotron:last-child, .bs-example > .alert:last-child, .bs-example > .panel:last-child, .bs-example > .list-group:last-child, .bs-example > .well:last-child, .bs-example > .progress:last-child, .bs-example > .table-responsive:last-child > .table { margin-bottom: 0px; }

.bs-example > p > .close { float: none; }

.bs-example-type .table .type-info { color: rgb(153, 153, 153); vertical-align: middle; }

.bs-example-type .table td { padding: 15px 0px; border-color: rgb(238, 238, 238); }

.bs-example-type .table tr:first-child td { border-top: 0px; }

.bs-example-type h1, .bs-example-type h2, .bs-example-type h3, .bs-example-type h4, .bs-example-type h5, .bs-example-type h6 { margin: 0px; }

.bs-example-bg-classes p { padding: 15px; }

.bs-example > .img-circle, .bs-example > .img-rounded, .bs-example > .img-thumbnail { margin: 5px; }

.bs-example > .table-responsive > .table { background-color: rgb(255, 255, 255); }

.bs-example > .btn, .bs-example > .btn-group { margin-top: 5px; margin-bottom: 5px; }

.bs-example > .btn-toolbar + .btn-toolbar { margin-top: 10px; }

.bs-example-control-sizing select, .bs-example-control-sizing input[type="text"] + input[type="text"] { margin-top: 10px; }

.bs-example-form .input-group { margin-bottom: 10px; }

.bs-example > textarea.form-control { resize: vertical; }

.bs-example > .list-group { max-width: 400px; }

.bs-example .navbar:last-child { margin-bottom: 0px; }

.bs-navbar-top-example, .bs-navbar-bottom-example { z-index: 1; padding: 0px; overflow: hidden; }

.bs-navbar-top-example .navbar-header, .bs-navbar-bottom-example .navbar-header { margin-left: 0px; }

.bs-navbar-top-example .navbar-fixed-top, .bs-navbar-bottom-example .navbar-fixed-bottom { position: relative; margin-left: 0px; margin-right: 0px; }

.bs-navbar-top-example { padding-bottom: 45px; }

.bs-navbar-top-example::after { top: auto; bottom: 15px; }

.bs-navbar-top-example .navbar-fixed-top { top: -1px; }

.bs-navbar-bottom-example { padding-top: 45px; }

.bs-navbar-bottom-example .navbar-fixed-bottom { bottom: -1px; }

.bs-navbar-bottom-example .navbar { margin-bottom: 0px; }

@media (min-width: 768px) {
  .bs-navbar-top-example .navbar-fixed-top, .bs-navbar-bottom-example .navbar-fixed-bottom { position: absolute; }
  .bs-navbar-top-example { border-radius: 0px 0px 4px 4px; }
  .bs-navbar-bottom-example { border-radius: 4px 4px 0px 0px; }
}

.bs-example .pagination { margin-top: 10px; margin-bottom: 10px; }

.bs-example > .pager { margin-top: 0px; }

.bs-example-modal { background-color: rgb(245, 245, 245); }

.bs-example-modal .modal { position: relative; inset: auto; z-index: 1; display: block; }

.bs-example-modal .modal-dialog { left: auto; margin-left: auto; margin-right: auto; }

.bs-example > .dropdown > .dropdown-menu { position: static; display: block; margin-bottom: 5px; }

.bs-example-tabs .nav-tabs { margin-bottom: 15px; }

.bs-example-tooltips { text-align: center; }

.bs-example-tooltips > .btn { margin-top: 5px; margin-bottom: 5px; }

.bs-example-popover { padding-bottom: 24px; background-color: rgb(249, 249, 249); }

.bs-example-popover .popover { position: relative; display: block; float: left; width: 260px; margin: 20px; }

.scrollspy-example { position: relative; height: 200px; margin-top: 10px; overflow: auto; }

.highlight { padding: 9px 14px; margin-bottom: 14px; background-color: rgb(247, 247, 249); border: 1px solid rgb(225, 225, 232); border-radius: 4px; }

.highlight pre { padding: 0px; margin-top: 0px; margin-bottom: 0px; background-color: transparent; border: 0px; white-space: nowrap; }

.highlight pre code { font-size: inherit; color: rgb(51, 51, 51); }

.highlight pre .lineno { display: inline-block; width: 22px; padding-right: 5px; margin-right: 10px; text-align: right; color: rgb(190, 190, 197); }

.table-responsive .highlight pre { white-space: normal; }

.bs-table th small, .responsive-utilities th small { display: block; font-weight: 400; color: rgb(153, 153, 153); }

.responsive-utilities tbody th { font-weight: 400; }

.responsive-utilities td { text-align: center; }

.responsive-utilities td.is-visible { color: rgb(70, 136, 71); background-color: rgb(223, 240, 216) !important; }

.responsive-utilities td.is-hidden { color: rgb(204, 204, 204); background-color: rgb(249, 249, 249) !important; }

.responsive-utilities-test { margin-top: 5px; }

.responsive-utilities-test .col-xs-6 { margin-bottom: 10px; }

.responsive-utilities-test span { display: block; padding: 15px 10px; font-size: 14px; font-weight: 700; line-height: 1.1; text-align: center; border-radius: 4px; }

.visible-on .col-xs-6 .hidden-xs, .visible-on .col-xs-6 .hidden-sm, .visible-on .col-xs-6 .hidden-md, .visible-on .col-xs-6 .hidden-lg, .hidden-on .col-xs-6 .hidden-xs, .hidden-on .col-xs-6 .hidden-sm, .hidden-on .col-xs-6 .hidden-md, .hidden-on .col-xs-6 .hidden-lg { color: rgb(153, 153, 153); border: 1px solid rgb(221, 221, 221); }

.visible-on .col-xs-6 .visible-xs, .visible-on .col-xs-6 .visible-sm, .visible-on .col-xs-6 .visible-md, .visible-on .col-xs-6 .visible-lg, .hidden-on .col-xs-6 .visible-xs, .hidden-on .col-xs-6 .visible-sm, .hidden-on .col-xs-6 .visible-md, .hidden-on .col-xs-6 .visible-lg { color: rgb(70, 136, 71); background-color: rgb(223, 240, 216); border: 1px solid rgb(214, 233, 198); }

.bs-glyphicons { margin: 0px -19px 20px -16px; overflow: hidden; }

.bs-glyphicons-list { padding-left: 0px; list-style: none; }

.bs-glyphicons li { float: left; width: 25%; height: 115px; padding: 10px; font-size: 10px; line-height: 1.4; text-align: center; border: 1px solid rgb(255, 255, 255); background-color: rgb(249, 249, 249); }

.bs-glyphicons .glyphicon { margin-top: 5px; margin-bottom: 10px; font-size: 24px; }

.bs-glyphicons .glyphicon-class { display: block; text-align: center; overflow-wrap: break-word; }

.bs-glyphicons li:hover { color: rgb(255, 255, 255); background-color: rgb(86, 61, 124); }

@media (min-width: 768px) {
  .bs-glyphicons { margin-left: 0px; margin-right: 0px; }
  .bs-glyphicons li { width: 12.5%; font-size: 12px; }
}

.bs-customizer .toggle { float: right; margin-top: 25px; }

.bs-customizer label { margin-top: 10px; font-weight: 500; color: rgb(85, 85, 85); }

.bs-customizer h2 { margin-top: 0px; margin-bottom: 5px; padding-top: 30px; }

.bs-customizer h3 { margin-bottom: 0px; }

.bs-customizer h4 { margin-top: 15px; margin-bottom: 0px; }

.bs-customizer .bs-callout h4 { margin-top: 0px; margin-bottom: 5px; }

.bs-customizer input[type="text"] { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; background-color: rgb(250, 250, 250); }

.bs-customizer .help-block { font-size: 12px; margin-bottom: 5px; }

#less-section label { font-weight: 400; }

.bs-customizer-input { float: left; width: 33.3333%; padding-left: 15px; padding-right: 15px; }

.bs-customize-download .btn-outline { padding: 20px; }

.bs-customizer-alert { position: fixed; top: 0px; left: 0px; right: 0px; z-index: 1030; padding: 15px 0px; color: rgb(255, 255, 255); background-color: rgb(217, 83, 79); box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px inset; border-bottom: 1px solid rgb(185, 68, 65); }

.bs-customizer-alert .close { margin-top: -4px; font-size: 24px; }

.bs-customizer-alert p { margin-bottom: 0px; }

.bs-customizer-alert .glyphicon { margin-right: 5px; }

.bs-customizer-alert pre { margin: 10px 0px 0px; color: rgb(255, 255, 255); background-color: rgb(168, 60, 58); border-color: rgb(151, 54, 52); box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px inset, rgba(255, 255, 255, 0.1) 0px 1px 0px; }

.bs-brand-logos { display: table; width: 100%; margin-bottom: 15px; overflow: hidden; color: rgb(86, 61, 124); background-color: rgb(249, 249, 249); border-radius: 4px; }

.bs-brand-item { padding: 60px 0px; text-align: center; }

.bs-brand-item + .bs-brand-item { border-top: 1px solid rgb(255, 255, 255); }

.bs-brand-logos .inverse { color: rgb(255, 255, 255); background-color: rgb(86, 61, 124); }

.bs-brand-item h1, .bs-brand-item h3 { margin-top: 0px; margin-bottom: 0px; }

.bs-brand-item .bs-docs-booticon { margin-left: auto; margin-right: auto; }

.bs-brand-item .glyphicon { width: 30px; height: 30px; margin: 10px auto -10px; line-height: 30px; color: rgb(255, 255, 255); border-radius: 50%; }

.bs-brand-item .glyphicon-ok { background-color: rgb(92, 184, 92); }

.bs-brand-item .glyphicon-remove { background-color: rgb(217, 83, 79); }

@media (min-width: 768px) {
  .bs-brand-item { display: table-cell; width: 1%; }
  .bs-brand-item + .bs-brand-item { border-top: 0px; border-left: 1px solid rgb(255, 255, 255); }
  .bs-brand-item h1 { font-size: 60px; }
}

.bs-examples .thumbnail { margin-bottom: 10px; }

.bs-examples h4 { margin-bottom: 5px; }

.bs-examples p { margin-bottom: 20px; }

#focusedInput { border-color: rgba(82, 168, 236, 0.8); outline: 0px; box-shadow: rgba(82, 168, 236, 0.6) 0px 0px 8px; }

.hll { background-color: rgb(255, 255, 204); }

.c { color: rgb(153, 153, 153); }

.err { color: rgb(170, 0, 0); background-color: rgb(255, 170, 170); }

.k { color: rgb(0, 102, 153); }

.o { color: rgb(85, 85, 85); }

.cm { color: rgb(153, 153, 153); }

.cp { color: rgb(0, 153, 153); }

.c1 { color: rgb(153, 153, 153); }

.cs { color: rgb(153, 153, 153); }

.gd { background-color: rgb(255, 204, 204); border: 1px solid rgb(204, 0, 0); }

.ge { font-style: italic; }

.gr { color: red; }

.gh { color: rgb(0, 51, 0); }

.gi { background-color: rgb(204, 255, 204); border: 1px solid rgb(0, 204, 0); }

.go { color: rgb(170, 170, 170); }

.gp { color: rgb(0, 0, 153); }

.gu { color: rgb(0, 51, 0); }

.gt { color: rgb(153, 204, 102); }

.kc { color: rgb(0, 102, 153); }

.kd { color: rgb(0, 102, 153); }

.kn { color: rgb(0, 102, 153); }

.kp { color: rgb(0, 102, 153); }

.kr { color: rgb(0, 102, 153); }

.kt { color: rgb(0, 119, 136); }

.m { color: rgb(255, 102, 0); }

.s { color: rgb(212, 73, 80); }

.na { color: rgb(79, 159, 207); }

.nb { color: rgb(51, 102, 102); }

.nc { color: rgb(0, 170, 136); }

.no { color: rgb(51, 102, 0); }

.nd { color: rgb(153, 153, 255); }

.ni { color: rgb(153, 153, 153); }

.ne { color: rgb(204, 0, 0); }

.nf { color: rgb(204, 0, 255); }

.nl { color: rgb(153, 153, 255); }

.nn { color: rgb(0, 204, 255); }

.nt { color: rgb(47, 111, 159); }

.nv { color: rgb(0, 51, 51); }

.ow { color: rgb(0, 0, 0); }

.w { color: rgb(187, 187, 187); }

.mf { color: rgb(255, 102, 0); }

.mh { color: rgb(255, 102, 0); }

.mi { color: rgb(255, 102, 0); }

.mo { color: rgb(255, 102, 0); }

.sb { color: rgb(204, 51, 0); }

.sc { color: rgb(204, 51, 0); }

.sd { color: rgb(204, 51, 0); font-style: italic; }

.s2 { color: rgb(204, 51, 0); }

.se { color: rgb(204, 51, 0); }

.sh { color: rgb(204, 51, 0); }

.si { color: rgb(170, 0, 0); }

.sx { color: rgb(204, 51, 0); }

.sr { color: rgb(51, 170, 170); }

.s1 { color: rgb(204, 51, 0); }

.ss { color: rgb(255, 204, 51); }

.bp { color: rgb(51, 102, 102); }

.vc { color: rgb(0, 51, 51); }

.vg { color: rgb(0, 51, 51); }

.vi { color: rgb(0, 51, 51); }

.il { color: rgb(255, 102, 0); }

.css .o, .css .o + .nt, .css .nt + .nt { color: rgb(153, 153, 153); }
